In [1]:
import pandas as pd

# URL to the raw CSV file on GitHub
url = 'https://raw.githubusercontent.com/kirenz/datasets/master/gapminder.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(url)

In [2]:
df.head(20)

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
1   Afghanistan      Asia  1957   30.332   9240934   820.853030
2   Afghanistan      Asia  1962   31.997  10267083   853.100710
3   Afghanistan      Asia  1967   34.020  11537966   836.197138
4   Afghanistan      Asia  1972   36.088  13079460   739.981106
5   Afghanistan      Asia  1977   38.438  14880372   786.113360
6   Afghanistan      Asia  1982   39.854  12881816   978.011439
7   Afghanistan      Asia  1987   40.822  13867957   852.395945
8   Afghanistan      Asia  1992   41.674  16317921   649.341395
9   Afghanistan      Asia  1997   41.763  22227415   635.341351
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136
13      Albania    Europe  1957   59.280   1476505  1942.284244
14      Albania    Europe  1962   64.820   1728137  2312.888958
15      Albania    Europe  1967   66.220   1984060  2760.196931
16      Albania    Europe  1972   67.690   2263554  3313.422188
17      Albania    Europe  1977   68.930   2509048  3533.003910
18      Albania    Europe  1982   70.420   2780097  3630.880722
19      Albania    Europe  1987   72.000   3075321  3738.932735